.DS_Store
target/
.history
.cache
logs/

node_modules/


.idea
.idea/
*.iml
/out/

# Gradle:
.gradle
.gradle/


.metadata
bin/
tmp/
.settings/
.project

*.class
*.log

.lib/
dist/*
project/plugins/project/

